/* ISTRUZIONI GENERICHE DI PAGINA */

*{
  margin:0px;
  padding: 0px;
  box-sizing: border-box;
}

/* ISTRUZIONI HEADER */

header{
  width: 80%;
  font-size: 35px;
  font-family: "Nerko One", sans-serif;
  text-align: center;
  margin: auto;
  padding: 20px;
  border: 1px solid;
}

/* ISTRUZIONI MAIN */

main{
  width: 80%;
  margin: auto;
  border: 1px solid black;
}

.row{
  padding: 10px 0px;
}

/* istruzioni card */
.card{
  width: 250px;
  height: 350px;
  margin: 0px 20px;
  border: 1px solid red;
  border-radius: 10px;
  display: inline-block;
  position: relative;
}

.card_img{
  width: 100%;
  height: 70%;
  border-radius: 10px 10px 0 0;
}

img{
  width: 100%;
}

.card_title{
  width: 100%;
  height: 30%;
  text-align: center;
  font-size: 50px;
  font-family: "Nerko One", sans-serif;
  font-weight: bold;
  padding-top: 20px;
  border-radius: 0 0 10px 10px;
}

.layover{
  width: 250px;
  height: 350px;
  border: 1px solid black;
  border-radius: 10px;
  /* background-color: lightgreen; */
  background-image: url(../img/pattern.png);
  background-size: contain;
  position: absolute;
  top: 0;
}

.card:hover .layover{
  display: none;
}
